@model BandsApp.Web.Models.Band
 <!DOCTYPE html>
    <html>
    <head>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css" />
        <title>Details</title>
    </head>
    <body>
    Name: @Model.Name <br />
    Description: @Model.Description
    <br />
    Band ID: @Model.Id
    <br />
    </body>
    </html>