@model BandsApp.Web.Models.Band
 <!DOCTYPE html>
    <html>
    <head>
        <title>Details</title>
    </head>
    <body>
    @Model.Name
    @Model.Description
    @Model.Id
    </body>
    </html>