@model BandsApp.Web.Models.Band
 <!DOCTYPE html>
    <html>
    <head>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css" />
        <title>Details</title>
    </head>
    <body>
    Name: @Model.Name <br />
    <!--This resolves the path server-side and is good for dynamic environments:-->
    <img src="@Url.Content(@Model.GetAlbumCover())" class="img" alt="Band Image" style="width: 200px; height: 200px;" />
    Description: @Model.Description
    <br />
    
    <br />
    </body>
    </html>